USE [master]
GO
/****** Object:  Database [EvoEventos]    Script Date: 29/10/2025 11:47:17 p. m. ******/
CREATE DATABASE [EvoEventos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EvoEventos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EvoEventos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EvoEventos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EvoEventos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvoEventos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvoEventos]
GO
/****** Object:  Table [dbo].[ActionType]    Script Date: 29/10/2025 11:47:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionType](
	[IdActionType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NOT NULL,
 CONSTRAINT [PK_ActionType] PRIMARY KEY CLUSTERED 
(
	[IdActionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryResource]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryResource](
	[IdCatResource] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_CategoryResource] PRIMARY KEY CLUSTERED 
(
	[IdCatResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryService]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryService](
	[IdCategoryService] [uniqueidentifier] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_CategoryService] PRIMARY KEY CLUSTERED 
(
	[IdCategoryService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[IdCredential] [uniqueidentifier] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[IdLoggingType] [uniqueidentifier] NOT NULL,
	[Identifier] [int] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[IdCredential] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[IdDocumentType] [uniqueidentifier] NOT NULL,
	[DocumentNumber] [int] NOT NULL,
	[IdCustomerType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [varchar](200) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpadteAT] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerType]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerType](
	[IdCustomerType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbreviation] [char](5) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpadteAT] [datetime] NULL,
 CONSTRAINT [PK_CustomerType] PRIMARY KEY CLUSTERED 
(
	[IdCustomerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[IdDocumentType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbreviation] [char](5) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[IdDocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[IdEventType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbreviation] [char](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[IdEventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[IdLog] [uniqueidentifier] NOT NULL,
	[IdTargetObject] [uniqueidentifier] NOT NULL,
	[IdActionType] [uniqueidentifier] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogDetail]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDetail](
	[IdLogDetail] [uniqueidentifier] NOT NULL,
	[IdLog] [uniqueidentifier] NOT NULL,
	[AffectedField] [varchar](50) NOT NULL,
	[PreviousValue] [varchar](100) NOT NULL,
	[NewValue] [varchar](100) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_LogDetail] PRIMARY KEY CLUSTERED 
(
	[IdLogDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoggingType]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoggingType](
	[IdLogginType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_LoggingType] PRIMARY KEY CLUSTERED 
(
	[IdLogginType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[IdPayment] [uniqueidentifier] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IdPaymentMethod] [uniqueidentifier] NOT NULL,
	[PaymentReference] [varchar](50) NOT NULL,
	[IdTransactionStatus] [uniqueidentifier] NOT NULL,
	[RegisteredBy (IdUser)] [uniqueidentifier] NOT NULL,
	[IdReservation] [uniqueidentifier] NOT NULL,
	[Notes] [varchar](100) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[IdPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[IdPaymentMethod] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[IdPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingUnit]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingUnit](
	[IdPricingUnit] [uniqueidentifier] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](30) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_PricingUnit] PRIMARY KEY CLUSTERED 
(
	[IdPricingUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation](
	[IdQuotation] [uniqueidentifier] NOT NULL,
	[Consecutive] [int] NOT NULL,
	[IdRequest] [uniqueidentifier] NULL,
	[IdEventType] [uniqueidentifier] NOT NULL,
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventDurationHours] [decimal](10, 2) NOT NULL,
	[EventLocation] [varchar](50) NOT NULL,
	[EventCity] [varchar](50) NOT NULL,
	[QuotationDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](10, 2) NULL,
	[IdStatusQuotation] [uniqueidentifier] NOT NULL,
	[IsQuotationAccepted] [bit] NOT NULL,
	[Notes] [varchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_Quotation] PRIMARY KEY CLUSTERED 
(
	[IdQuotation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationDetail]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationDetail](
	[IdQuotDetail] [uniqueidentifier] NOT NULL,
	[IdQuotation] [uniqueidentifier] NOT NULL,
	[IdService] [uniqueidentifier] NOT NULL,
	[SeviceName] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[DurationHours] [int] NOT NULL,
	[Notes] [varchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_QuotationDetail] PRIMARY KEY CLUSTERED 
(
	[IdQuotDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[IdReport] [uniqueidentifier] NOT NULL,
	[Tittle] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[GenerationDate] [datetime] NOT NULL,
	[IdReportType] [uniqueidentifier] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[RangeStartDate] [date] NOT NULL,
	[RangeEndDate] [date] NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[IdReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[IdReportType] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[IdReportType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventAttendees] [int] NULL,
	[EventLocation] [varchar](50) NOT NULL,
	[Message] [varchar](100) NOT NULL,
	[IdStatusRequest] [uniqueidentifier] NOT NULL,
	[IdUser] [uniqueidentifier] NOT NULL,
	[IdEventType] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestDetail]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDetail](
	[IdRequestDetail] [uniqueidentifier] NOT NULL,
	[IdRequest] [uniqueidentifier] NOT NULL,
	[IdService] [uniqueidentifier] NOT NULL,
	[ServiceName] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_RequestDetail] PRIMARY KEY CLUSTERED 
(
	[IdRequestDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[IdReservation] [uniqueidentifier] NOT NULL,
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[IdQuotation] [uniqueidentifier] NOT NULL,
	[ReservationCode] [int] NOT NULL,
	[EventName] [varchar](20) NOT NULL,
	[EventType] [varchar](30) NOT NULL,
	[StartTime] [date] NOT NULL,
	[EndTime] [date] NOT NULL,
	[Location] [varchar](30) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[GuestsCount] [int] NOT NULL,
	[IdStatusReservation] [uniqueidentifier] NOT NULL,
	[Notes] [varchar](200) NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[TotalPaid] [decimal](18, 2) NULL,
	[IdStatusPayment] [uniqueidentifier] NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpadateAT] [datetime] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[IdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationService]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationService](
	[IdReservationService] [uniqueidentifier] NOT NULL,
	[IdService] [uniqueidentifier] NOT NULL,
	[IdReservation] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Notes] [varchar](200) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_ReservationService] PRIMARY KEY CLUSTERED 
(
	[IdReservationService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[IdResource] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[SerialCode] [varchar](20) NOT NULL,
	[IdStatusRes] [uniqueidentifier] NOT NULL,
	[PurchaseDate] [date] NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[LastMaintenanceDate] [date] NOT NULL,
	[NextMaintenanceDate] [date] NOT NULL,
	[External] [bit] NOT NULL,
	[ExternalProvider] [varchar](20) NULL,
	[ExternalCost] [float] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
	[IdCategoryResource] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[IdResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[IdService] [uniqueidentifier] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
	[IdCategory] [uniqueidentifier] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[IdPricingUnit] [uniqueidentifier] NOT NULL,
	[DurationHoursDefault] [int] NOT NULL,
	[Available] [bit] NOT NULL,
	[External] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceResource]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceResource](
	[IdServiceResource] [uniqueidentifier] NOT NULL,
	[IdResource] [uniqueidentifier] NOT NULL,
	[IdService] [uniqueidentifier] NOT NULL,
	[QuantityRequired] [int] NOT NULL,
	[IsMandatory] [bit] NOT NULL,
	[UsageNotes] [varchar](20) NULL,
	[ExternalProvider] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_ServiceResource] PRIMARY KEY CLUSTERED 
(
	[IdServiceResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusPayment]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPayment](
	[IdStatusPayment] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_StatusPayment] PRIMARY KEY CLUSTERED 
(
	[IdStatusPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusQuotation]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusQuotation](
	[IdStatusQuotation] [uniqueidentifier] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_StatusQuotation] PRIMARY KEY CLUSTERED 
(
	[IdStatusQuotation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusRequest]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusRequest](
	[IdStatusRequest] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_StatusRequest] PRIMARY KEY CLUSTERED 
(
	[IdStatusRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReservation]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReservation](
	[IdStatusReservation] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_StatusReservation] PRIMARY KEY CLUSTERED 
(
	[IdStatusReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusResource]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusResource](
	[IdStatusRes] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_StatusResource] PRIMARY KEY CLUSTERED 
(
	[IdStatusRes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTransaction]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTransaction](
	[IdStatusTransaction] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_StatusTransaction] PRIMARY KEY CLUSTERED 
(
	[IdStatusTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TargetObject]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetObject](
	[IdTargetObject] [uniqueidentifier] NOT NULL,
	[TableName] [varchar](50) NOT NULL,
	[Detail] [varchar](200) NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_TargetObject] PRIMARY KEY CLUSTERED 
(
	[IdTargetObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/10/2025 11:47:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [uniqueidentifier] NOT NULL,
	[Name] [varchar](60) NOT NULL,
	[Surnames] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[IdDocumentType] [uniqueidentifier] NOT NULL,
	[DocumentNumber] [varchar](12) NOT NULL,
	[Phone] [varchar](14) NOT NULL,
	[Address] [varchar](100) NULL,
	[Role] [varchar](10) NOT NULL,
	[IdRole] [uniqueidentifier] NOT NULL,
	[CreatedAT] [datetime] NOT NULL,
	[UpdateAT] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionType] ADD  CONSTRAINT [DF_ActionType_IdActionType]  DEFAULT (newid()) FOR [IdActionType]
GO
ALTER TABLE [dbo].[ActionType] ADD  CONSTRAINT [DF_ActionType_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[ActionType] ADD  CONSTRAINT [DF_ActionType_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[CategoryResource] ADD  CONSTRAINT [DF_CategoryResource_Id]  DEFAULT (newid()) FOR [IdCatResource]
GO
ALTER TABLE [dbo].[CategoryResource] ADD  CONSTRAINT [DF_CategoryResource_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[CategoryResource] ADD  CONSTRAINT [DF_CategoryResource_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[CategoryService] ADD  CONSTRAINT [DF_CategoryService_IdCategoryService]  DEFAULT (newid()) FOR [IdCategoryService]
GO
ALTER TABLE [dbo].[CategoryService] ADD  CONSTRAINT [DF_CategoryService_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CategoryService] ADD  CONSTRAINT [DF_CategoryService_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Credential] ADD  CONSTRAINT [DF_Credential_IdCredential]  DEFAULT (newid()) FOR [IdCredential]
GO
ALTER TABLE [dbo].[Credential] ADD  CONSTRAINT [DF_Credential_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
ALTER TABLE [dbo].[Credential] ADD  CONSTRAINT [DF_Credential_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Credential] ADD  CONSTRAINT [DF_Credential_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IdCustomer]  DEFAULT (newid()) FOR [IdCustomer]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_UpadteAT]  DEFAULT (getdate()) FOR [UpadteAT]
GO
ALTER TABLE [dbo].[CustomerType] ADD  CONSTRAINT [DF_CustomerType_IdCustomerType]  DEFAULT (newid()) FOR [IdCustomerType]
GO
ALTER TABLE [dbo].[CustomerType] ADD  CONSTRAINT [DF_CustomerType_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[CustomerType] ADD  CONSTRAINT [DF_CustomerType_UpadteAT]  DEFAULT (getdate()) FOR [UpadteAT]
GO
ALTER TABLE [dbo].[DocumentType] ADD  CONSTRAINT [DF_DocumentType_IdDocumentType]  DEFAULT (newid()) FOR [IdDocumentType]
GO
ALTER TABLE [dbo].[DocumentType] ADD  CONSTRAINT [DF_DocumentType_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[DocumentType] ADD  CONSTRAINT [DF_DocumentType_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[EventType] ADD  CONSTRAINT [DF_EventType_IdEventType]  DEFAULT (newid()) FOR [IdEventType]
GO
ALTER TABLE [dbo].[EventType] ADD  CONSTRAINT [DF_EventType_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventType] ADD  CONSTRAINT [DF_EventType_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_IdLog]  DEFAULT (newid()) FOR [IdLog]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_DateTime]  DEFAULT (getdate()) FOR [DateTime]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[LogDetail] ADD  CONSTRAINT [DF_LogDetail_IdLogDetail]  DEFAULT (newid()) FOR [IdLogDetail]
GO
ALTER TABLE [dbo].[LogDetail] ADD  CONSTRAINT [DF_LogDetail_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[LogDetail] ADD  CONSTRAINT [DF_LogDetail_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[LoggingType] ADD  CONSTRAINT [DF_LoggingType_IdLogginType]  DEFAULT (newid()) FOR [IdLogginType]
GO
ALTER TABLE [dbo].[LoggingType] ADD  CONSTRAINT [DF_LoggingType_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[LoggingType] ADD  CONSTRAINT [DF_LoggingType_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_IdPayment]  DEFAULT (newid()) FOR [IdPayment]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_PaymentDate]  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_PaymentReference]  DEFAULT (newid()) FOR [PaymentReference]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_IdPaymentMethod]  DEFAULT (newid()) FOR [IdPaymentMethod]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[PricingUnit] ADD  CONSTRAINT [DF_PricingUnit_IdPricingUnit]  DEFAULT (newid()) FOR [IdPricingUnit]
GO
ALTER TABLE [dbo].[PricingUnit] ADD  CONSTRAINT [DF_PricingUnit_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PricingUnit] ADD  CONSTRAINT [DF_PricingUnit_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Quotation] ADD  CONSTRAINT [DF_Quotation_IdQuotation]  DEFAULT (newid()) FOR [IdQuotation]
GO
ALTER TABLE [dbo].[Quotation] ADD  DEFAULT ((0)) FOR [IsQuotationAccepted]
GO
ALTER TABLE [dbo].[Quotation] ADD  CONSTRAINT [DF_Quotation_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Quotation] ADD  CONSTRAINT [DF_Quotation_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[QuotationDetail] ADD  CONSTRAINT [DF_QuotationDetail_IdQuotDetail]  DEFAULT (newid()) FOR [IdQuotDetail]
GO
ALTER TABLE [dbo].[QuotationDetail] ADD  CONSTRAINT [DF_QuotationDetail_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuotationDetail] ADD  CONSTRAINT [DF_QuotationDetail_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_IdReport]  DEFAULT (newid()) FOR [IdReport]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_GenerationDate]  DEFAULT (getdate()) FOR [GenerationDate]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[ReportType] ADD  CONSTRAINT [DF_ReportType_IdReportType]  DEFAULT (newid()) FOR [IdReportType]
GO
ALTER TABLE [dbo].[ReportType] ADD  CONSTRAINT [DF_ReportType_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[ReportType] ADD  CONSTRAINT [DF_ReportType_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF_Request_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF_Request_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF_Request_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[RequestDetail] ADD  CONSTRAINT [DF_RequestDetail_IdRequestDetail]  DEFAULT (newid()) FOR [IdRequestDetail]
GO
ALTER TABLE [dbo].[RequestDetail] ADD  CONSTRAINT [DF_RequestDetail_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestDetail] ADD  CONSTRAINT [DF_RequestDetail_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_IdReservation]  DEFAULT (newid()) FOR [IdReservation]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_UpadateAT]  DEFAULT (getdate()) FOR [UpadateAT]
GO
ALTER TABLE [dbo].[ReservationService] ADD  CONSTRAINT [DF_ReservationService_IdReservationService]  DEFAULT (newid()) FOR [IdReservationService]
GO
ALTER TABLE [dbo].[ReservationService] ADD  CONSTRAINT [DF_ReservationService_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[ReservationService] ADD  CONSTRAINT [DF_ReservationService_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_Id]  DEFAULT (newid()) FOR [IdResource]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_IdService]  DEFAULT (newid()) FOR [IdService]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[ServiceResource] ADD  CONSTRAINT [DF_ServiceResource_IdServiceResource]  DEFAULT (newid()) FOR [IdServiceResource]
GO
ALTER TABLE [dbo].[StatusPayment] ADD  CONSTRAINT [DF_StatusPayment_IdStatusPayment]  DEFAULT (newid()) FOR [IdStatusPayment]
GO
ALTER TABLE [dbo].[StatusPayment] ADD  CONSTRAINT [DF_StatusPayment_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[StatusPayment] ADD  CONSTRAINT [DF_StatusPayment_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[StatusQuotation] ADD  CONSTRAINT [DF_StatusQuotation_IdStatusQuotation]  DEFAULT (newid()) FOR [IdStatusQuotation]
GO
ALTER TABLE [dbo].[StatusQuotation] ADD  CONSTRAINT [DF_StatusQuotation_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[StatusQuotation] ADD  CONSTRAINT [DF_StatusQuotation_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[StatusRequest] ADD  CONSTRAINT [DF_StatusRequest_IdStatusRequest]  DEFAULT (newid()) FOR [IdStatusRequest]
GO
ALTER TABLE [dbo].[StatusRequest] ADD  CONSTRAINT [DF_StatusRequest_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StatusRequest] ADD  CONSTRAINT [DF_StatusRequest_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[StatusReservation] ADD  CONSTRAINT [DF_StatusReservation_IdStatusReservation]  DEFAULT (newid()) FOR [IdStatusReservation]
GO
ALTER TABLE [dbo].[StatusReservation] ADD  CONSTRAINT [DF_StatusReservation_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[StatusReservation] ADD  CONSTRAINT [DF_StatusReservation_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[StatusResource] ADD  CONSTRAINT [DF_StatusResource_Id]  DEFAULT (newid()) FOR [IdStatusRes]
GO
ALTER TABLE [dbo].[StatusResource] ADD  CONSTRAINT [DF_StatusResource_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StatusResource] ADD  CONSTRAINT [DF_StatusResource_UpdateAt]  DEFAULT (getdate()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[StatusTransaction] ADD  CONSTRAINT [DF_StatusTransaction_IdStatusTransaction]  DEFAULT (newid()) FOR [IdStatusTransaction]
GO
ALTER TABLE [dbo].[StatusTransaction] ADD  CONSTRAINT [DF_StatusTransaction_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[StatusTransaction] ADD  CONSTRAINT [DF_StatusTransaction_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[TargetObject] ADD  CONSTRAINT [DF_TargetObject_IdTargetObject]  DEFAULT (newid()) FOR [IdTargetObject]
GO
ALTER TABLE [dbo].[TargetObject] ADD  CONSTRAINT [DF_TargetObject_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[TargetObject] ADD  CONSTRAINT [DF_TargetObject_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IdUser]  DEFAULT (newid()) FOR [IdUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedAT]  DEFAULT (getdate()) FOR [CreatedAT]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UpdateAT]  DEFAULT (getdate()) FOR [UpdateAT]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_LoggingType] FOREIGN KEY([IdLoggingType])
REFERENCES [dbo].[LoggingType] ([IdLogginType])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_LoggingType]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_User]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CustomerType] FOREIGN KEY([IdDocumentType])
REFERENCES [dbo].[CustomerType] ([IdCustomerType])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_CustomerType]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_DocumentType] FOREIGN KEY([IdDocumentType])
REFERENCES [dbo].[DocumentType] ([IdDocumentType])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_DocumentType]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_ActionType] FOREIGN KEY([IdActionType])
REFERENCES [dbo].[ActionType] ([IdActionType])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_ActionType]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_TargetObject] FOREIGN KEY([IdTargetObject])
REFERENCES [dbo].[TargetObject] ([IdTargetObject])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_TargetObject]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[LogDetail]  WITH CHECK ADD  CONSTRAINT [FK_LogDetail_Log] FOREIGN KEY([IdLog])
REFERENCES [dbo].[Log] ([IdLog])
GO
ALTER TABLE [dbo].[LogDetail] CHECK CONSTRAINT [FK_LogDetail_Log]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([IdPaymentMethod])
REFERENCES [dbo].[PaymentMethod] ([IdPaymentMethod])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Reservation] FOREIGN KEY([IdReservation])
REFERENCES [dbo].[Reservation] ([IdReservation])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Reservation]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_StatusTransaction] FOREIGN KEY([IdTransactionStatus])
REFERENCES [dbo].[StatusTransaction] ([IdStatusTransaction])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_StatusTransaction]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([RegisteredBy (IdUser)])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([IdCustomer])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_Customer]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_EventType] FOREIGN KEY([IdEventType])
REFERENCES [dbo].[EventType] ([IdEventType])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_EventType]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Request] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_Request]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_StatusQuotation] FOREIGN KEY([IdStatusQuotation])
REFERENCES [dbo].[StatusQuotation] ([IdStatusQuotation])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_StatusQuotation]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [FK_Quotation_User]
GO
ALTER TABLE [dbo].[QuotationDetail]  WITH CHECK ADD  CONSTRAINT [FK_QuotationDetail_Quotation] FOREIGN KEY([IdQuotation])
REFERENCES [dbo].[Quotation] ([IdQuotation])
GO
ALTER TABLE [dbo].[QuotationDetail] CHECK CONSTRAINT [FK_QuotationDetail_Quotation]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportType] FOREIGN KEY([IdReportType])
REFERENCES [dbo].[ReportType] ([IdReportType])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_EventType] FOREIGN KEY([IdEventType])
REFERENCES [dbo].[EventType] ([IdEventType])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_EventType]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_StatusRequest] FOREIGN KEY([IdStatusRequest])
REFERENCES [dbo].[StatusRequest] ([IdStatusRequest])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_StatusRequest]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [dbo].[RequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetail_Request] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[RequestDetail] CHECK CONSTRAINT [FK_RequestDetail_Request]
GO
ALTER TABLE [dbo].[RequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetail_Service] FOREIGN KEY([IdService])
REFERENCES [dbo].[Service] ([IdService])
GO
ALTER TABLE [dbo].[RequestDetail] CHECK CONSTRAINT [FK_RequestDetail_Service]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([IdCustomer])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Customer]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_StatusPayment] FOREIGN KEY([IdStatusPayment])
REFERENCES [dbo].[StatusPayment] ([IdStatusPayment])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_StatusPayment]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_StatusReservation] FOREIGN KEY([IdStatusReservation])
REFERENCES [dbo].[StatusReservation] ([IdStatusReservation])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_StatusReservation]
GO
ALTER TABLE [dbo].[ReservationService]  WITH CHECK ADD  CONSTRAINT [FK_ReservationService_Reservation] FOREIGN KEY([IdReservation])
REFERENCES [dbo].[Reservation] ([IdReservation])
GO
ALTER TABLE [dbo].[ReservationService] CHECK CONSTRAINT [FK_ReservationService_Reservation]
GO
ALTER TABLE [dbo].[ReservationService]  WITH CHECK ADD  CONSTRAINT [FK_ReservationService_Service] FOREIGN KEY([IdService])
REFERENCES [dbo].[Service] ([IdService])
GO
ALTER TABLE [dbo].[ReservationService] CHECK CONSTRAINT [FK_ReservationService_Service]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_CategoryResource] FOREIGN KEY([IdCategoryResource])
REFERENCES [dbo].[CategoryResource] ([IdCatResource])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_CategoryResource]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_StatusResource_Resource] FOREIGN KEY([IdStatusRes])
REFERENCES [dbo].[StatusResource] ([IdStatusRes])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_StatusResource_Resource]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_CategoryService] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[CategoryService] ([IdCategoryService])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_CategoryService]
GO
ALTER TABLE [dbo].[ServiceResource]  WITH CHECK ADD  CONSTRAINT [FK_ServiceResource_Resource] FOREIGN KEY([IdServiceResource])
REFERENCES [dbo].[Resource] ([IdResource])
GO
ALTER TABLE [dbo].[ServiceResource] CHECK CONSTRAINT [FK_ServiceResource_Resource]
GO
ALTER TABLE [dbo].[ServiceResource]  WITH CHECK ADD  CONSTRAINT [FK_ServiceResource_Service] FOREIGN KEY([IdService])
REFERENCES [dbo].[Service] ([IdService])
GO
ALTER TABLE [dbo].[ServiceResource] CHECK CONSTRAINT [FK_ServiceResource_Service]
GO
ALTER TABLE [dbo].[StatusResource]  WITH CHECK ADD  CONSTRAINT [FK_StatusResource_StatusResource] FOREIGN KEY([IdStatusRes])
REFERENCES [dbo].[StatusResource] ([IdStatusRes])
GO
ALTER TABLE [dbo].[StatusResource] CHECK CONSTRAINT [FK_StatusResource_StatusResource]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_DocumentType] FOREIGN KEY([IdDocumentType])
REFERENCES [dbo].[DocumentType] ([IdDocumentType])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_DocumentType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
