<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EvoEventos - Panel de Administración</title>
  <link rel="stylesheet" href="Topbar.css">
</head>

<body>
  <header class="main-header">
    <div class="header-left">
      <div class="logo">
      <img src="../../Src/Assets/Images/Logo.svg" alt="EvoEventos">
      </div>
      <div class="subtitle">Panel de Administración</div>
    </div>

    <button class="exit-btn">
      <span class="icon"><img src="../../Src/Assets/Icons/exit.svg" alt="Mensajes"></span> Salir
    </button>
  </header>

