@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {

    --color-fondo: #FAF5FF;
    --color-texto: #101828;
    --color-texto-secundario: #6A7282;
    --color-borde: #E5E7EB;
    --color-exito: #00A63E;
    --color-morado-claro: #F3E8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.5;
    min-height: 100vh;
}


main.dashboard {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 96px 81px;
}

